<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include "styles.html" %}
    <title>{{ menu[0].menu_type }}</title>
    <meta name="Description" content="Menu from {{ site.site_title }}">


  </head>

  <body class="page-background">

        {% include "navbar.html" %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- JS includes -->

            <!--custom head HTML-->
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
        <!--HTML Widget code-->

        <div class="container h-100">
            {% for m in menu %}
              <div class="row h-100 justify-content-center align-items-center">
                  <div class="col text-center" id="menu{{ loop.index }}">
                    <h1>{{ m.menu_type|upper  }}</h1>
                    {%  if m.menu_modified and m.menu_modified != None %}
                    <p>{{ now().strftime("%B %d, %Y") }}</p>
                    {% endif %}

                      {% for section in m.sections %}
                        <br>

                        {% if section.slug != m.slug %}
                          <h2>{{ section.section|upper  }}</h2>
                        {% endif %}
                        {% for menu_item in section.menu_items %}
                            <h3>{{ menu_item.menu_item|upper }} - ${{ menu_item.price }}</h3>
                            {% if menu_item.description == menu_item.menu_item %}
                            {% else %}
                            <p>{{ menu_item.description|lower }}</p>
                            {% endif %}
                            <br>
                        {% endfor %}
                      {% endfor %}
                </div>
              </div>
            {% endfor %}  
        </div>

  </body>